<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="me.duelsol.quickbaidu"
    android:versionCode="1"
    android:versionName="1.0" >

    <application
        android:allowBackup="false"
        android:icon="@drawable/baidu"
        android:label="@string/app_name" >
        <receiver android:name="me.duelsol.quickbaidu.QuickBaidu" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_provider_0430" >
            </meta-data>
        </receiver>

        <activity
            android:name="me.duelsol.quickbaidu.MyActivity"
            android:theme="@style/transparent"
            android:windowSoftInputMode="stateVisible" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE" />
            </intent-filter>
        </activity>
    </application>

    <uses-sdk
        tools:ignore="ManifestOrder" />

</manifest>